body {
    font-family: Arial, sans-serif;
    background-color:  rgb(242,68,68);
    margin: 0;
    padding: 0; 
}

header {
    background-color: rgb(83, 6, 6); 
    color: white;
    padding: 40px;
    width: 100%;
    font-size: large;
    text-align: center;
    display: flex;
}

h1 u {
    margin-left: 100px;
}

.login-container  {
    margin-top: 50px;
    margin-bottom: 20px;
}

.form-group {
    margin-left: 50px;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 800;
    font-family: Arial, sans-serif;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

}

.remember-me {
    margin-bottom: 40px;
    
}

.form-group  {
    border-radius: 50%;
}

.btn-container {
    display: flex;
    }

.login-btn,
.cancel-btn {
    width: 260px; 
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 50px;
    font-weight: 800;
    font-family: Arial,sans-serif;
}

.login-btn {
    background-color: #050505;
    color: #fff;
}


.login-btn:hover {
    background-color: #0056b3;
}

.cancel-btn {
    background-color: #060606;
    color: #fff;
}

.cancel-btn:hover {
    background-color: #c82333;
}

.signup-link {
    margin-left: 360px;
    margin-top: 50px;
    font-weight: 800;
    font-family: Arial, sans-serif;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

